.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-height: 80vh; 
}
.form{
width: 300px;
display: flex;
flex-direction: column;
gap: 20px;
}
.input{
    padding: 20px;
    background-color: transparent;
    border: 2px solid #0d0d0d;
    border-radius: 5px;
    font-size: 20px;
    color: #0d0d0d;
    font-weight: bold;
}
.button{
    width: 300px;
    padding: 20px;
    cursor: pointer;
     background-color: #fe2e1f;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}
.select{
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 5px;
    font-size: 20px;
    color: #eee;
    font-weight: bold;
    background-color:  #1f2937;
    color: #eee;
}