:root {
  --background: black;
  --foreground: linear-gradient(to right, #d4e4ff, #bcd4ff, #d4e4ff);
;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:linear-gradient(to right, #d4e4ff, #bcd4ff, #d4e4ff);
    --foreground: black;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin:1vh ;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.container {
  max-width: 1366px;
  min-height: 100vh; 
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}