.container {
  display: flex;
  align-items: center;
  gap: 100px;
  min-height: 80vh;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.img {
  width: 200vh;
  height: 60vh;
  object-fit: contain;
  display: block;
  animation: move 2s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, #f94c40, #f68a8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 24px;
  font-weight: 500;
  color: rgb(48, 47, 47);
}

.btn {
  padding: 20px;
  cursor: pointer;
  background-color: #fe2e1f;
  border: none;
  border-radius: 5px;
  color: white;
  width: max-content;
}

@media (max-width: 1024px) {
  .container {
    gap: 50px;
  }

  .title {
    font-size: 56px;
  }

  .description {
    font-size: 20px;
  }

  .img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .item {
    gap: 30px;
    align-items: center;
  }

  .title {
    font-size: 40px;
  }

  .description {
    font-size: 18px;
  }

  .btn {
    padding: 15px 25px;
    font-size: 16px;
  }

  .img {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;
  }

  .description {
    font-size: 16px;
  }

  .btn {
    padding: 12px 20px;
    font-size: 14px;
  }
}
