.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

.logo {
    font-weight: bold;
    font-size: 44px;
    font-weight: 700;
    color: #c91003;
    text-decoration: none;
    white-space: nowrap;
}

.links {
    display: flex;
    align-items: center;
    font-size: 19px;
    gap: 20px;
    flex-wrap: wrap;
}
.link {
  position: relative;
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* distance from text */
  width: 0;
  height: 2px;
  background-color: #c91003; /* underline color */
  transition: width 0.3s ease;
}

.link:hover {
  color: #c91003;
}

.link:hover::after {
  width: 100%;
}
.logout {
    padding: 5px 10px;
    border: none;
    background-color: #c91003;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .container {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
    }

    .logo {
        font-size: 32px;
    }

    .links {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 12px;
    }

    .links a,
    .logout {
        font-size: 16px;
        width: 100%;
        text-align: left;
        padding: 8px 0;
         padding: 5px 10px;
    }
}
