.container{
    flex-direction: column;
    gap: 20px;
    min-height: 80vh; 
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customform {
  width: 70%;
  max-width: 600px;
  background: linear-gradient(to bottom, #444444, #ffffff);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 35px;
margin-top: 40px;
}

.customform input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #f9f4f4;
  background-color: black;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}
.customform select {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #f9f4f4;
  background-color: black;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.customform input:focus {
  border-color: #f44539;
}

.customform button {
  padding: 12px;
  font-size: 1rem;
  background-color: #fd655b;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 25%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.customform button:hover {
  background-color:#98160d;
}

.customform h2 {
  text-align: center;
  margin-bottom: 1rem;
  color:white;
}
